@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");

nav {
  background-color: #e3f2fd;
}

img.logo {
  width: 150px;
  height: auto;
  margin: 4px;
}
